<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Freyr</title>
</head>
<body>
<h1>Freyr</h1>
    <button>
        <a href="/signup">Sign Up</a>
    </button>
    <button>
        <a href="/login">Login</a>
    </button>
    <button>
        <a href="/user">Users</a>
    </button>
    <button>
        <a href="/loggedin">Logged In User</a>
    </button>
    <button>
        <a href="/search">Search</a>
    </button>


<div th:switch="${recipes}">
    <h2 th:case="null">No recipes yet!</h2>
    <div th:case="*">
        <h2>Recipes</h2>
        <table>
            <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Rating</th>
            </tr>
            </thead>
            <!-- <tbody>
            <tr th:each="movie : ${movies}">
                <td th:text="${movie.title}"></td>
                <td th:text="${movie.description}"></td>
                <td th:text="${movie.rating}"></td>
            </tr>
            </tbody> -->
        </table>
    </div>

</div>

</body>
</html>