<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Freyr</title>
    <link rel="stylesheet" href="homeStyle.css">
</head>
<body>
<h1>Freyr</h1>

<div class="takkar">
    <button class="button">
        <a href="/"><span>Home</span></a>
    </button>
</div>

<h2>Search for recipies</h2>
<form class="form" action="#" th:action="@{/search}"  method="post">
    <input type="text" name="foodType" id="foodType" th:value="${foodType}"/>
    <input class="button" type="submit" value="Search"/>
</form>

</body>
</html>