<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Signup</title>
</head>

<body>

<style>
    .alert {
        font-size: small;
        font-style: italic;
    }
</style>

<h1>Sign Up</h1>

<button>
    <a href="/">Home</a>
</button>

<h2>Please fill in this form to create an account</h2>

<div>
    <form action="#" th:action="@{/signup}" th:object="${user}" method="post">
            <label>User Name: </label>
        <br>
            <input type="text" name="userName" id="userName" th:field="*{userName}" required/>
        <br>
            <label>Password: </label>
        <br>
            <input type="password" name="password" id="password" th:value="*{password}" required/>
        <br>
            <label>Email: </label>
        <br>
            <input type="text" name="email" id="email" th:value="*{email}" required/>
        <br>

        <div th:switch="${message}">
            <p class="alert" th:case="*" th:text="${message}"></p>
        </div>

            <input type="submit" value="Sign up"/>
    </form>
</div>

</body>

</html>